<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        h4, h5 {
        display: inline;
        }
        .navbar-item{padding: 0px 40px}
        .nav-link{color:white;font-size:20px;font-family:Times New Roman}
        .nav-link:hover{
        color:black;
        font-size:25px;
        background-color:red;
        border-radius:10px
        }
        .img{
        width:100%;
        height:500px;

        }
        body {
        background: url('/static/notes/images/bg5.jpg');
        background-repeat:no-repeat;
        background-size:100%;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Javascript code---------------->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <title>Contact with us</title>
</head>


<body>

<div class="alert alert-primary" role="alert">
    <!----------------------Setting 2 headings in one line Style tag -------------->
    <h4 style="color:green">Cocsitnotes.com-</h4> <h5 style="color:black">A place where you could find COCSIT college
    notes</h5>
</div>

<nav class="navbar navbar-expand-sm" style="background-color:black">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a class="nav-link" href="{% url 'index' %}">HOME</a>
        </li>

        <li class="navbar-item">
            <a class="nav-link" id="About" href="{% url 'about' %}">ABOUT US</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="{% url 'contact' %}">CONTACT US</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="{% url 'signup' %}">SIGN UP</a>
        </li>
    </ul>
</nav>

<div class="container mt-8">
    <div class="row">
        <div class="col-sm-6 mt-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.5602337823047!2d76.56615311382593!3d18.412855377267807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcf83f3b0f81e69%3A0xbea444e4bac8ad8d!2sCOCSIT%20College!5e0!3m2!1sen!2sin!4v1600091346870!5m2!1sen!2sin"
                    width="500" height="450" frameborder="0" style="border:10px;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>
        <div class="col-sm-6 mt-5">
            <h5>Email Id </h5>:<a
                    href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=jarifsayyed2000@gmail.com" target="_blank"><b>jarifsayyed2000@gmail.com</b></a>
                or <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=pranitramgiri007@gmail.com"
                      target="_blank"><b>pranitramgiri007@gmail.com</b></a>



            <p><h5>Contact No</h5> :<big> 8766448446 or 8446316460</big>
            <p><h5>Address</h5> : <big>COCSIT, Latur.</big><br><br>

            <h4>Contact us on social media platforms:</h4><br><br>
            <h5>Jarif Sayyed:</h5>
            <a href="https://www.facebook.com/jarif.sayyed.35"> <i class="fab fa-facebook-f pl-5">facebook</i></a>
            <a href="https://www.instagram.com/sayyed.jarif/"> <i
                    class="fab fa-twitter-f pl-5"></i>Instagram</a><br><br>

            <h5>Pranit Ramgiri:</h5>
            <a href="https://www.facebook.com/pranit2000Ramgiri/"> <i class="fab fa-facebook-f pl-5">facebook</i></a>
            <a href="https://www.instagram.com/pranit_0906/"> <i class="fab fa-twitter-f pl-5"></i>Instagram</a><br>


        </div>

    </div>

</div>


</body>
</html>


